<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   	<extension point="org.eclipse.ui.startup">
 		<startup class="com.sunsheen.jfids.studio.monitor.StartupMonitor"
		id="com.sunsheen.jfids.studio.monitor.StartupMonitor"
		name="StartupMonitor"/>
	</extension>

</plugin>
